.content-container {
    background: #fff;
}

.main-slider {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;

    a { display: inline-block; }
    img {
        max-width: 100%;
        max-height: 400px;
    }

    .slick-arrow::before {
        color: $main-red;
    }
}

.front-page-articles {
    .article-box {
        $box-color: #73adaf;
        background-color: $box-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        min-height: 200px;
        height: 100%;
        position: relative;

        .overlay {
            z-index: 1;
            height: 100%;
            width: 100%;
            position: absolute;
            overflow: auto;
            top: 0px;
            left: 0px;
            background: transparentize(darken($box-color, 30%), 0.5);
        }

        .info {
            width: 100%;
            height: 100%;
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .news-minor {
        .title, .date {
            margin-bottom: 0;
        }
        .title {
            font-size: 1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .date {
            font-size: 0.7em;
        }

        border-bottom: 1px solid darken(#fff, 10%);
        margin-bottom: 0.5em;
    }
}

.post {
    color: #444444;

    img {
        max-width: 100%;
        height: auto;
    }

    .thumbnail {
        text-align: center;
    }

    .meta {
        font-size: 0.8em;
        font-style: italic;
    }
}

.post.list-entry {
    &:after {
        content: "";
        display: block;
        border-bottom: 1px solid #dedede;
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
    }

    .title, .summary {
        overflow: hidden;
    }

    .title a {
        color: #222;
    }
}

.wrap {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
    padding-bottom: 3em;
}
