.page-content.organigram {
    > h1.title {
        font-size: 2.5em;
        text-align: center;
        @include ff-thinsans;
    }

    .organigram-slider {
        background-color: #398a8d;
    }

    .switcher {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        background: $main-green;

        a {
            color: #fff;
            font-weight: bold;
            padding: 0.5em 1em;
        }
    }

    .slider {
        color: #fff;

        .slide {
            width: 100%;
            position: relative;
        }
        img {
            max-width: 100%;
        }

        .info-text {
            position: absolute;

            h1, h2, h3 {
                font-family: "Futura MD BT", sans-serif;
                font-weight: bold;
            }
        }

        .slide#slide-pimpinan {
            .info-text {
                width: 50%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 5%;
                padding-left: 1em;
            }
        }
    }
}
