.page-content.organigram {
    > h1.title {
        font-size: 2.5em;
        text-align: center;
        @include ff-thinsans;
    }

    .switcher {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        a {
            color: #fff;
            font-weight: bold;
            padding: 0.5em 1em;
        }
    }

    .max-width-90 {
        max-width: 90%;
    }

    .slider {
        color: #fff;

        .head {
            display: block;
        }

        .slide {
            width: 100%;
            position: relative;
        }
        img {
            max-width: 100%;
        }

        // apa ya ini lupa?
        .info-text {
            position: absolute;

            h1, h2, h3 {
                font-family: "Futura MD BT", sans-serif;
                font-weight: bold;
            }
        }

        .slide#slide-pimpinan {
            .info-text {
                width: 50%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 5%;
                padding-left: 1em;
            }
        }
    }

    .vertical {
        img {
            width: 100%;
        }
    }
}

.organigram.k2018-koiya {
    .switcher {
        background: $koiya-green-bg;
    }
}

.organigram.k2019-fuurinkazan {
    .switcher, .switcher-head {
        background: #de4949;
    }
    .switcher-head {
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: .5em 1em;
    }

    .slider {
        color: #fff;

        .slide {
            width: 100%;
            position: relative;
        }
        img {
            width: 100%;
        }
    }
}

.organigram.k2019-tendou {
    .switcher, .switcher-head {
        background: #5878a1;
    }
    .switcher-head {
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: .5em 1em;
    }

    .slider {
        color: #fff;

        .slide {
            width: 100%;
            position: relative;
        }
        img {
            width: 100%;
        }
    }
}
