@font-face {
    font-family: "Futura MD BT";
    src:
        url("fonts/futurab-webfont.woff2") format("woff2"),
        url("fonts/futurab-webfont.woff") format("woff")
    ;
    font-weight: bold;
    font-style: normal;
}
